@model IEnumerable<CLESportsBlog.Models.Team>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Cleveland Sports Blog</h1>
    <h2>Choose Your Favorite CLE Team</h2>
    @foreach (var team in Model)
    {
        <a href="/Team/Details/@team.Id"><img src="@team.ImageLink" alt="@team.Name" style="width: 50px; height: auto;"/></a>

    }
</body>
</html>
