@model IEnumerable<CLESportsBlog.Models.Team>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>CLE Sports Blog</h1>
    @foreach (var team in Model)
    {
        <h3><a href="/Team/Details/@team.Id">@team.Name</a></h3>

    }
</body>
</html>
