body {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/images/CLE Skyline.jpg');
    background-size: cover;
    font-family: 'Courier New';
    font-size: 1.5em;
}

#headerText {
    text-align: center;
    font-weight: bold;
}

#ChooseTeam {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    opacity: .8;
}
